fastapi
uvicorn
streamlit
requests
python-dotenv
pydantic
PyMuPDF
Pillow
boto3
openai
chromadb
numpy
mistralai
docling
pinecone-client
huggingface-hub
sentence-transformers
scikit-learn
python-multipart
